.offer-container {
  display: flex;
  justify-content: center; /* Horizontal center */
  align-items: center;     /* Vertical center */
  height: 100%;       
  background-color: aqua;     /* Parent ku height kudunga (eg: 100vh or 400px) */
}

.box10 img {
  max-width: 100%;
  height: auto;
}
