.offer-container {
  height: auto;       
  width: 95%;
  /* background-color: aqua;      */
  margin-left: 20px;
}

.box10 img {
  width: 600px;
  height: auto;
  margin-left: 40px;
  border-radius: 20px;
}

.prescription {
  width: 96%;
  height: 250px;
  /* background-color: lightcoral; */
  margin-left: 30px;
}
.prescripOne {
  width: 620px;
  height: 150px;
  background-color: lightsteelblue;
  position: relative;
  top: 80px;
  left: 10px;
  border-radius: 20px;
}

.prescripTwo {
  width: 300px;
  height: 150px;
  background-color: lightsteelblue;
  margin-top: -70px;
  margin-left: 640px;
  border-radius: 20px;
}
.prescripThree {
  width: 300px;
  height: 150px;
  background-color: lightsteelblue;
  margin-top: -150px;
  margin-left: 950px;
  border-radius: 20px;
}
.prescripOne img {
  width: 70px;
  height: 70px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 20px;

}
.btn1 {
  position: relative;
  top: 30px;
  left: 50px;
  padding: 3px;
  padding-left: 180px;
  padding-right: 180px;
  border-radius: 20px;
  background-color: #1eccb0;
  font-weight: bolder;
  
}

.prescripbox1 {
  width: 350px;
  height: 30px;
  /* background-color: blue; */
  margin-top: -80px;
  margin-left: 110px;
  font-size: x-large;
  font-weight: bolder;
}

.prescripbox2 {
   width: 490px;
  height: 30px;
  /* background-color: blue; */
    margin-left: 110px;
    margin-top: 5px;
}
.prescripbox3 {
  width: 200px;
  height: 35px;
  /* background-color: blue; */
  position: relative;
  top: 10px;
  margin-left: 10px;
   font-size: x-large;
  font-weight: 750;

}
.prescripbox4 {
  width: 200px;
  height: 85px;
  /* background-color: blue; */
  margin-top: 20px;
  margin-left: 10px;
}

.prescripbox5 {
  width: 200px;
  height: 35px;
  /* background-color: blue; */
  position: relative;
  top: 10px;
  margin-left: 10px;
   font-size: x-large;
  font-weight: bolder;

}
.prescripbox6 {
  width: 200px;
  height: 75px;
  /* background-color: blue; */
  margin-top: 20px;
  margin-left: 10px;
}

.upiboxs {
  width: 95%;
  height: 300px;
  background-color: aqua;
  margin-left: 80px;
}






